/** HEADER **/

h1 {
margin-top:1em;
background:url("images/pass_2_Phone.png") 0 0 no-repeat; 
height:128px;
margin-bottom:-90px;
padding-left:90px;
padding-top:0.5em;
font-size:2.5em;
margin-left:0.5em;
}

h2 {
margin:1em;
margin-bottom:2em;
}

h2, h3 {
text-align: center;
}

h4 {
border-bottom: 1px dotted grey;
padding-bottom: 0.5em;
}

/** LAYOUT **/

body {
background-color:#F9F8F4;
}

.container {
background-color:#FFFEF9;
padding:1em;
border: solid 1px #C7C8CA;
border-top: 0px;
padding-left:2em;
}

#contact-nationals {
padding-left:35px;
border-left: 2px grey solid;
margin-left:30px;
}

.note {
border: 1px solid grey;
background-color:#F5F5F5;
padding: 1em;
}

blockquote.sms {
border: 1px solid #F5E676;
background-color:#FDF9D9;
padding:1em;
color:black;
}

#how-does-it-works #content div {
background:url("images/com_plus_sim.png") 0 0 no-repeat; 
padding-left:370px;
margin:0 2em;
}

#specific-needs #content div {
background:url("images/wrench.png") 30px -5px no-repeat; 
padding-left:270px;
margin:-2em 2em;
padding-top:2em;
padding-right:5em;
height:12em;
}

#contact #content dl {
background:url("images/speech.png")180px -5px no-repeat; 
padding-left:370px;
margin:-2em 2em;
padding-top:2em;
padding-right:5em;
height:12em;
}

/** FORMS **/

textarea {
height:3em;
}

dt {
float: left;
width:15ex;
padding-top:5px;
position:relative;
top:-0.3em;
}

input {
margin-left:2ex;
}

.or {
text-align: center;
font-style:italic;
}

.help {
background-color: #E9FAFF;
padding:1em;
font-weight:bold;
border: 1px solid #9CE8FF;
}

/** MENU **/

#menu {
position:relative; 
width:960px; 
height:45px; 
background:url("images/menu-bg.png") 0 0 no-repeat; 
overflow:hidden; 
font-weight:bold;
margin:1em 0 2em 18ex;
}

#menu ul { 
margin:0 20px; 
list-style:none;
}

#menu ul li { 
float:left;
height:45px;
}

#menu li a {
display:block; 
padding:14px 20px 17px 18px; 
background:url("images/menu-separator.gif") 100% 0 no-repeat; 
text-decoration:none;
color:#474B4F;
}

#menu .first  {
background:url("images/menu-separator.gif") left no-repeat; 
}


#menu li a:hover {
background:url("images/menu-hover.gif");
color:white;
}

#home #demo-link,
#contact #contact-link,
#how-does-it-works #how-link,
#specific-needs #specific-needs-link {
background:url("images/menu-active.png");
}
