/** HEADER **/

h1 {
text-align: center;
}

#menu li {
    list-style-type:none;
    float:left;
    padding:1em;
}

h2 {
text-align: center;
}

/** LAYOUT **/

#contact-nationals {
padding-left:30px;
border-left: 2px grey solid;
}

/** FORMS **/

textarea {
height:3em;
}
