{% extends "base.html" %}
{% load i18n %}
{% block title %}Home{% endblock %}

{% block content %}
<body>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <h1><a href="#">Systeme de communication de securite avec vos ressortissants </a></h1>

        </div>
        <div id="menu">
            <ul>
                <li class="first current_page_item"><a href="{% url home %}">Demonstration</a></li>
                <li ><a href="{% url how_it_works %}" title="">Comment ca marche?</a></li>
                <li ><a href="{% url specifications %}"title="">J'ai besoin des specifications!</a></li>
                <li ><a href="{% url contact %}" title="">Contactez nous</a></li>
            </ul>
        </div>
    </div>
    <!-- end #header -->
    <div id="page">
        <div id="page-bgtop">
            <div id="page-bgbtm">
                <div id="content">
                    <div class="post">
                        <h2 class="title"><a href="#">Essayez maintenant </a></h2>
                        <p>Simulez l'arrivée d'un ressortissant français</p>
                        <p>Envoyer par sms</p>
                        <div class="entry">
                            <p><img src="images/img08.jpg" width="538" height="200" alt="" /></p>
                            <p>arrive 324323</p>
                        </div>
                        <p>Au 70 00 00 00</p>
                    </div>
                    <div class="post">

                        <div class="entry">
                            <p><img src="images/img09.jpg" width="538" height="200" alt="" /></p>
                            <p>"324323" est le numero de passport d'un ressortissant français imaginaire Michel Lemoine,
                            qui arrivait au Mali, en déclarant à travers le systeme.</p>
                            <p>Vous pouvez aussi env</p>

                        </div>
                    </div>
                    <div style="clear: both;">&nbsp;</div>
                </div>
                <!-- end #content -->
                <div id="sidebar">
                    <ul>

                        <li>
                            <h2>Communiquez avec votre ressortissant</h2>

                        </li>
                        <p></p>
                        <li>
                            <h2>Actuellement enregistré</h2>
                            <ul>
                                <li><a href="#">Luc Villier (324123)</a></li>
                                <li><a href="#">Alou dolo (32123)</a></li>
                                <p><a>Envoyez leur un message</a></p>
                            </ul>
                        </li>
                        <li>
                            <h2>Changez le niveau d'alerte</h2>
                            <ul>
                                <li><a href="#">Kidal</a></li>
                                <li><a href="#">Tombouctou</a></li>
                                <li><a href="#">Gao</a></li>
                                <li><a href="#">Mopti</a></li>
                                <li><a href="#">Segou</a></li>
                                <li><a href="#">Bamako</a></li>
                                <li><a href="#">Sikasso</a></li>
                                <li><a href="#">Kayes</a></li>
                            </ul>
                        </li>
                        <p>Ou</p>
                        <li>
                            <div id="search" >
                                <form method="get" action="#">
                                    <div>
                                        <input type="text" name="s" id="search-text" value="Message personalisé" />
                                        <input type="submit" id="search-submit" value="Envoyer" />
                                    </div>
                                </form>
                            </div>
                            <div style="clear: both;">&nbsp;</div>
                        </li>
                    </ul>
                </div>
                <!-- end #sidebar -->
                <div style="clear: both;">&nbsp;</div>
            </div>
        </div>
    </div>
    <!-- end #page -->
</div>
<div id="footer">
    <p>By Alou</p>
</div>
<!-- end #footer -->
</body>
</html>
{% endblock %}
