<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}{% endblock %}Communiquez avec vos ressortissants 
        </title>
        <link href="{% url static "css/blueprint/screen.css" %}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{% url static "css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
        
        <!-- Yeah, I know, inline JS is baaad. It's just for the demo -->
        
        <script src="{% url static "js/jquery-1.5.min.js" %}"></script>
        <script>
        $(document).ready(function() {

            Array.prototype.remove = function(s) {
              var i = this.indexOf(s);
              if(i != -1) this.splice(i, 1);
            }

            if ($('#simulation').length != 0) {  
            
                var refresh_visitors = function() {

                    var page_visitors = []
                    $("#visitors li").each(function() {
                        page_visitors.push($(this).attr('id'));
                    });

                    $.post("/simulation/?randval="+ Math.random(), {},
                        function(data) {
                            
                            // add new visitors to the page
                            $.each(data, function(passport_number, visitor){
                                if ($.inArray(passport_number, page_visitors) < 0) {
                                    
                                    // if the page is empty, reload
                                    if (!page_visitors.length) {
                                        $('body').fadeOut('slow', function() {
                                            location.reload();
                                        });
                                        return false;
                                    }
                                    
                                    // else add visitors to the list
                                    $('#visitors').append('<div></div>');
                                    $('#visitors div').hide();
                                    $('#visitors div').append(
                                        '<li id="' + passport_number + '">' + 
                                        passport_number + ' ' + 
                                        visitor['first_name'] + ' ' +
                                        visitor['last_name'] + '</li>');
                                    $('#visitors div').fadeIn('slow', function() {
                                        $('#' + passport_number).unwrap();
                                    });
                                    page_visitors.push(passport_number);
                                }
                            });
                            
                            // remove old visitors from the page
                            $.each(page_visitors.slice(), function(i, passport_number){
                                if (!data[passport_number]) {
                                    
                                    // only one visitor, reload
                                    if (page_visitors.length == 1) {
                                        $('body').fadeOut('slow', function() {
                                            location.reload();
                                        });
                                        return false;
                                    }
                                    
                                    // else remove visitor from the list
                                    $('#' + passport_number).fadeOut('slow', function() {
                                        $('#' + passport_number).remove();
                                    });
                                    page_visitors.remove(passport_number);                                
                                }
                            });
                            
                            
                        }, 
                    "json");
                    
                }
                
                var refreshId = setInterval(refresh_visitors, 5000);
                
                $('#levels-form input').hide();
                $("select").live("change keyup", function (e) {
                    $(e.target).parent('form').submit();
                });
                
            }
            
            
            
        });
            
        </script>
        
    </head>
    <body>
        <div id="{% block page-id %}{% endblock %}" class="container">
            
            <div id="menu"  class="span-24 last" >
                <ul>
                    <li class="first"><a href="{% url home %}" id="home-link">Accueil</a></li>
                    <li ><a href="{% url how_it_works %}" id="how-link">Comment ça marche ?</a></li>
                    <li ><a href="{% url simulation %}" id="demo-link">Simulation</a></li>
                    <li ><a href="{% url specifications %}" id="specific-needs-link">Vous avez des besoins différents ?</a></li>
                    <li class="last"><a href="{% url contact %}" id="contact-link">Contatez-nous</a></li>
                </ul>
            </div>

            
            <div id="content"  class="span-24 last">
            {% block content %}{% endblock %}
            </div>

            <div id="footer" class="span-24 last">
            <p><strong>yeleman s.à.r.l</strong>, Route de Koulikoro, Hippodrome, Bamako (Mali)</p>
            <p><a href="http://yeleman.com">www.yeleman.com</a> -(+223) 73 12 08 96 - info@yeleman.com</p>
            </div>
        </div>
    </body>
</html>
