{% extends "base.html" %}
{% block title %}Contact - {% endblock %}
{% block page-id %}contact{% endblock %}

{% block content %}

        <h2>
            Contactez-nous
        </h2>
        <dl>
            <dt>Téléphones :</dt>
            <dd>(+223) 73 12 08 96 (Renaud Gaudin)</dd>
            <dd>(+223) 76 33 30 05 (Ali Touré)</dd>
            <dt>E-mail :</dt>
            <dd><a href="mailto:info@yeleman.com">info@yeleman.com</a></dd>
            <dt></dt>
            <dt>Site-web :</dt>
            <dd><a href="http://yeleman.com">www.yeleman.com</a></dd>
        </dl>
        <p>Rendez nous visite, nos locaux font face à l'ambassade du Canada, Immeuble Bah Center, route de Koulikoro.</p>
        
{% endblock %}
