{% extends "base.html" %}
{% block title %}Acceuil - {% endblock %}
{% block page-id %}home{% endblock %}

{% block content %}

    <h2>
        Gardez le contact avec les ressortissants français de passage
    </h2>
    
    <div>
        <ul>
            <li>Ayez une liste de vos ressortissants en temps réel.</li>
            <li>Envoyez leur à tous un SMS d'alerte en un clic</li>
        </ul>
        
        <p class="button"><a  class="button" href="{% url how_it_works %}">Comment ça marche ?</a></p>
    </div>

{% endblock %}
