{% extends "base.html" %}
{% block title %}Acceuil - {% endblock %}
{% block page-id %}home{% endblock %}

{% block content %}

    <h2>
        Outil d'information de sécurité pour vos ressortissants
    </h2>
    
    <div>
        <ul>
            <li>Ayez une liste de vos ressortissants en temps réel.</li>
            <li>Envoyez leur à tous un SMS d'alerte en un clic</li>
        </ul>
        
        <p class="button"><a  class="button" href="{% url simulation %}">Faire une simulation</a></p>
    </div>

{% endblock %}
