{% extends "base.html" %}
{% load i18n %}
{% block title %}Acceuil{% endblock %}
{% block page-id %}home{% endblock %}
{% block page1 %}home{% endblock %}

{% block content %}

    <h2>
        Essayez maintenant
    </h2>
    
    <div id="simulate-arrival" class="span-11">
        <h3>
            Simulez l'arrivée d'un ressortissant français
        </h3>
        <p>
            Envoyez par sms :
        </p>
        
        <p>
        
        <blockquote>
            arrivee 34F5623G
        </blockquote>

        <p>
            au (+223) 604 030 201 (numéro de téléphone mobile publique ordinnaire)
        </p>
        
        <div class="note">
        <p>
            "34F5623G" est le numéro de passport d'un ressortissant français 
            imaginaire, Michel Lemoine, qui arriverait au Mali, 
            en se déclarant à travers le système.
        </p>
        
        <p>Vous pouvez aussi essayer :</p>
        
        <ul>
            <li>4574T456 (Cécile Desmoulin)</li>
            <li>338U78I2 (Luc Villier)</li>
        </ul>
 
        <p>Le système réagit différement aux passports qu'il ne connait pas.</p>
        </diV>
        
    </div>

    <div id="contact-nationals" class="span-11 last">
      
        <h3>
            {% trans "Contact your nationals" %}
        </h3>

        
        <h4>Actuellement enregistrés</h4>
        
        <ul>
            <li>338U78I2 (Luc Villier)</li>
        </ul>

        <h4>Envoyez leur un message</h4>

        <p>Niveau d'alerte :</p>
       
        <dl>
            <dt></dt>
            <dd>
            <fom>
            <select></select>
            <input type="submit" value="changer" />
            </form>
            </dd>
        </dl>
        
        <p>
            Ou
        </p>
        
        <p>Message personalisé:</p>
        <div>
            <textarea></textarea>
            <input type="submit" id="search-submit" value="Envoyer" />
        </div>
        
        

        </ul>

    </div>

{% endblock %}
