{% extends "base.html" %}
{% load i18n %}
{% block title %}how_it_works{% endblock %}

{% block content %}

    <div id="page">
        <div id="page-bgtop">
            <div id="page-bgbtm">
                <div id="content">
                    <div class="post">
                        <h2 class="title"><a href="#">{% trans "How does it work?" %}</a></h2>
                    </div>
                    <div class="post">

                        <div class="entry">
                            <p><img src="images/img09.jpg" width="538" height="200" alt="" /></p>
                            <p>Texte</p>

                        </div>
                    </div>
                    <div style="clear: both;">&nbsp;</div>
                </div>
                <!-- end #content -->

                <div style="clear: both;">&nbsp;</div>
            </div>
        </div>
    </div>
    <!-- end #page -->

</html>
{% endblock %}
