{% extends "base.html" %}
{% block title %}Comment ça fonctionne ? - {% endblock %}
{% block page-id %}how-does-it-works{% endblock %}

{% block content %}
        <h2>
            Comment ça marche ?
        </h2>
        <div>
        <p>Un ressortissant français arrive au Mali :</p>
        <ol>
            <li>Il envoit un SMS à notre système et reçoit une confirmation</li>
            <li>Le système vous liste les ressortissants actuellement sur le territoire</li>
            <li>Vous pouvez leur envoyer par SMS les niveaux d'alerte par région ou un message personnalisé</li>
        </ul>
        <p><br />Qu'est-ce que cela donne en pratique ? Testez-le vous même :</p>
        <p class="button"><a  class="button" href="{% url simulation %}">Faire une simulation</a></p>
        </div>
{% endblock %}
