{% extends "base.html" %}
{% block title %}Simulation - {% endblock %}
{% block page-id %}simulation{% endblock %}

{% block content %}

    <h2>
        Testez gratuitement l'outil sur cette page de simulation
    </h2>
    
    <div id="simulate-arrival" class="span-11 {% if not visitors %}bordered{% endif %}">
        <h3>
            Prenez le rôle du ressortissant :
        </h3>
        <p>
            Envoyez par sms au <strong>(+223) 604 030 201</strong> le texte suivant :
        </p>
        
        <p>
        
        <blockquote class="sms">
            arrivee 34F5623G
        </blockquote>

        <p>
            (+223) 604 030 201 est un numéro de téléphone mobile publique ordinnaire. Le prix est celui d'un SMS normal sans aucune surtaxe.
        </p>
        
        <div class="note">
        <p>
            "34F5623G" est le numéro de passport d'un ressortissant français 
            imaginaire, Michel Lemoine, qui arriverait au Mali, 
            en se déclarant à travers le système.
        </p>
        
        <p>Vous pouvez aussi essayer :</p>
        
        <ul>
            <li>4574T456 (Cécile Desmoulin)</li>
            <li>338U78I2 (Luc Villier)</li>
        </ul>
 
        <p>Le système réagit différement aux passports qu'il ne connait pas.</p>
        </diV>
        
    </div>

    <div id="contact-nationals" class="span-11 last {% if visitors %}bordered{% endif %}">
      
        <h3>
            Prenez le rôle de l'ambassade
        </h3>

        
        <h4>Ressortissants actuellement enregistrés</h4>
        
        {% if visitors %}
            <ul>
                {% for visitor in visitors %}
                <li>{{ visitor.passport_number }} ({{ visitor.first_name }} {{ visitor.last_name }})</li>
                {% endfor %}
            </ul>

            <h4>Envoyez leur un message</h4>

            <fieldset>
            
            <legend id="level_change">Niveau d'alerte</legend>
            
            {% for message in level_changes %}
                <p class="help">{{ message }}</p>
            {% endfor %}

           
            <dl>
                {% for area_form in area_forms %}
                <dt>{{ area_form.initial.name }}</dt>
                <dd>
                <form method="post" action="{% url change-alert-level %}" >
                    <input type="hidden" name="alert_level" value="{{ area_form.instance.alert_level }}" />
                    <input type="hidden" name="id" value="{{ area_form.instance.id }}" />
                    <input type="hidden" name="name" value="{{ area_form.instance.name }}" />
                    {{ area_form.alert_level }}
                    <input type="submit" value="Changer" />
                    {% csrf_token %}
                </form>
                </dd>
                {% endfor %}
            </dl>
            
            </fieldset>
            
            <fieldset  id="send_messages">
            
            <legend>Message personalisé</legend>
            
            {% for message in messages_sent %}
                <p class="help">{{ message|safe }}</p>
            {% endfor %}

            <form method="post" action="{% url send-message %}" >
                <textarea name="message_to_send"></textarea>
                <input type="submit" value="Envoyer" />
                {% csrf_token %}
            </form>
            
            </fieldset>
        
        {% else %}
            <p class="error">Aucun ressortissant ne s'est déclaré pour le moment !</p>
            <p>Prenez le rôle d'un ressortissant pour commencer.</p>
        {% endif %}

    </div>

{% endblock %}
