{% extends "base.html" %}
{% load i18n %}
{% block title %}Besoins spécifiques - {% endblock %}
{% block page-id %}specific-needs{% endblock %}

{% block content %}
    <h2>
        Vous avez des besoins différents ?
    </h2>
    <div>
        <p>Ce site n'est qu'une démonstration de principe, nous pouvons créer exactement l'outil dont vous avez besoin, sur-mesure.</p>
        <ul>
        <li>Auto-suppression des ressortissants de la liste après un temps donné</li>
        <li>Relances automatiques</li>
        <li>Gestion des déplacements en régions.</li>
        <li>Et bien d'autres possibilitées…</li>
        </ul>
        <p><a href="{% url contact %}">Contactez-nous</a></p>
    </div>
{% endblock %}
