{% extends "base.html" %}
{% load i18n %}
{% block title %}Besoins spécifiques - {% endblock %}
{% block page-id %}specific-needs{% endblock %}

{% block content %}
    <div id="title">
        <h2>
            Vous avez des besoins specifique ?
        </h2>
    </div>
    <div id="text">
        <p>
            Ce site n'est qu'une démonstration, nous pouvons créer exactement
            l'outil dont vous avez besoin, sur-mesure.
        </p>
        <p><a href="{% url contact %}">Contactez-nous</a></p>
    </div>
{% endblock %}
